<!DOCTYPE html>
<html lang="pt">
<head>
    <%- include('partials/head.ejs') %>      
</head>
<body class="main">    
    
    <div class="container-fluid containerHeader">
        <%- include('partials/header.ejs') %>
        <h3>Como Fazer Informatica</h3>
    </div>  
    <main>
        <section>
            <div class="container mt-3">
                <div class="row">
                    <div>
                        <div class="card mb-3">                            
                             <div class="card-header bg-success text-white text-uppercase">1</div> 
                            <div class="card-body">
                                <p class="card-text">
                                    1<br>
                                    <ul>
                                        <a href="/" id="link-indice" rel="noopener noreferrer" class="text-decoration-none">  
                                            <li>12</li>
                                        </a>
                                        <a href="/" id="link-indice" rel="noopener noreferrer" class="text-decoration-none">
                                            <li>13</li>
                                        </a>
                                        <a href="/" id="link-indice" rel="noopener noreferrer" class="text-decoration-none">  
                                            <li>14</li>
                                        </a>
                                        <a href="/" id="link-indice" rel="noopener noreferrer" class="text-decoration-none">  
                                            <li>15</li>
                                        </a>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('partials/footer.ejs') %>
    <%- include('partials/lib-js.ejs') %>
    <script src="js/index.js"></script>


</body>
</html>
