<!-- Rodapé exibido em todas as páginas -->
<footer>
  <p class="text-center">© 2024. Todos os direitos reservados</p>
  <h6 class="text-center">
    <a href="https://www.rcndev.comofazerinformatica.com.br"  target="_blank">Ronni Novello</a>
  </h6>
</footer>